body {
        <img src="PHOTO.jpg" width="200" alt="Тут моглы бы быть ваша реклама">
        background-color: #efefef;
        font-family: Arial;
        line-height: 1.3;
    }

.title {
    color: #8795EA;
    }

